<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
  <div class="links"  style="font-size: 30px; margin: 0; text-align: center; text-transform: uppercase; font-weight: 700; ">
    <% if signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
    <% else %>
      <%= link_to "Sign in", user_session_path %>
      <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
    <% end %>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

<h2 class="notice" style="color:#1F7972; text-align: center"><%= notice %></h2>
<h3 class="alert" style="color:indianred; text-align: center;"><%= alert %></h3>



</body>
</html>